<div class="top-buffer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" ng-class="{'active': item.id == user.menu.activeItem}" ng-repeat="item in user.menu.items" ng-click="user.changeTab(item.id)" class="list-group-item">{{item.text}}</a>
                </div>
            </div>
            <div class="col-md-9" ng-switch="user.menu.activeItem">
                <div class="user-content" ng-switch-when="1">
                    <div class="inner-content">
                        <h2>{{user.user.user_name ? user.user.user_name : user.user.user_id}}</h2>
                        <ul class="userList">
                            <li>Id: {{user.user.user_id}}</li>
                            <li>User custom : {{user.user.user_custom}}</li>
                            <li>Email: {{user.user.email ? user.user.email : 'no data'}}</li>
                            <li>Registration date: {{user.user.register_date | formatTime}}</li>
                            <li>Enabled: {{user.user.enabled ? 'yes':'no'}}</li>
                            <li>Balance: {{user.user.balance}}</li>
                        </ul>
                    </div>
                </div>
                <div class="user-content" ng-switch-when="2">
                    <div class="inner-content">
                        <div class="row vertical-align" ng-class="{'bottom-buffer': user.user.operations.length > 0}">
                            <div class="col-md-5">
                                <span>From</span>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="user.startTime" is-open="user.popupStart" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="user.openPicker(1)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
                                </p>
                            </div>

                            <div class="col-md-5">
                                <span>To</span>
                                <p class="input-group">
                                    <input type="text" class="form-control custom-heigth-input" uib-datepicker-popup ng-model="user.endTime" is-open="user.popupEnd" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="user.openPicker(2)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="user.getUserOperations()" class="btn show-button blue-btn" type="button">Show</button>
                            </div>
                        </div>

                        <div class="row" ng-show="user.user.operations.length > 0">
                            <uib-accordion close-others="true">
                                <div uib-accordion-group ng-class="{'panel-default': operation.status != 'failed', 'panel-danger':operation.status == 'failed'}" heading="id:{{operation.operation_id}}, amount: {{operation.amount > 0 ? '+'+operation.amount : operation.amount}}" ng-repeat="operation in user.user.operations">
                                    <ul class="userList">
                                        <li>Status : {{operation.status}}</li>
                                        <li>Type : {{operation.transaction_type}}</li>
                                        <li>Amount : {{operation.amount}}</li>
                                        <li>Date : {{operation.date | formatTime}}</li>
                                        <li>Commentary : {{operation.comment}}</li>
                                        <li>Coupon code : {{operation.coupon_code ? operation.coupon_code : 'no data'}}</li>
                                    </ul>
                                </div>
                            </uib-accordion>
                        </div>
                        <!-- <div class="row text-center" ng-show="user.user.operations.length == 0">
                            <h2>No data to show</h2>
                        </div> -->
                        <div class="row text-center" ng-show="user.status.length > 0">
                            <h2>{{user.status}}</h2>
                        </div>
                    </div>
                </div>

                <div class="user-content" ng-switch-when="3">
                    <div class="inner-content">
                        <form novalidate ng-submit="user.editUser()" name="updateUser" class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="user.user.user_name" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCustom" class="col-sm-2 control-label">Custom</label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="user.user.user_custom" class="form-control" id="inputCustom" placeholder="Custom">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" name="email" ng-model="user.user.email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="user.user.enabled" type="checkbox"> Enabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" ng-disabled="updateUser.$invalid"  ng-class="{'btn-disabled': updateUser.$invalid}" class="btn blue-btn">Edit</button>
                                </div>
                            </div>
                        </form>
                        <div class="row text-center" ng-show="user.status.length > 0">
                            <h2>{{user.status}}</h2>
                        </div>
                    </div>
                </div>
                <div class="user-content" ng-switch-when="4">
                    <div class="inner-content">
                      <form novalidate name="changeBalance" ng-submit="user.changeBalance()" class="form-horizontal">
                              <div class="form-group" ng-class="{ 'has-error' : changeBalance.amount.$invalid && !changeBalance.amount.$pristine }">
                                  <label for="inputBalance" class="col-sm-2 control-label">Amount</label>
                                  <div class="col-sm-6">
                                      <input type="number" name="amount" required ng-model="user.currentBalance" class="form-control" id="inputBalance" placeholder="Amount">
                                      <p ng-show="!changeBalance.amount.$invalid"  class="help-block">User's balance will be: {{ user.oldBalance + user.currentBalance}}</p>
                                      <p ng-show="changeBalance.amount.$invalid && !changeBalance.amount.$pristine" class="help-block">Amount is required</p>
                                  </div>
                              </div>

                              <div class="form-group" ng-class="{ 'has-error' : changeBalance.comment.$invalid && !changeBalance.comment.$pristine }">
                                  <label for="inputBalanceComment" class="col-sm-2 control-label">Comment</label>
                                  <div class="col-sm-6">
                                      <input type="text" name="comment" required ng-model="user.changeBalanceComment" class="form-control" id="inputBalanceComment" placeholder="Comment">
                                            <p ng-show="changeBalance.comment.$invalid && !changeBalance.comment.$pristine" class="help-block">Comment is required</p>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                      <button type="submit" ng-disabled="changeBalance.$invalid" ng-class="{'btn-disabled': changeBalance.$invalid}" class="btn blue-btn">Change</button>
                                  </div>
                              </div>
                        </form>
                        <div class="row text-center" ng-show="user.status.length > 0">
                            <h2>{{user.status}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
